*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100wh;
    height: 1000px;
    
 }
 #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex-grow: 1;
    flex-wrap: wrap;
    z-index: -1;
 }
 .list{
   display: flex;
   gap:50px;

 }
 .list{
   list-style: none;
    text-decoration: none;
 }
 #home{
    text-decoration: none;
    color: white;
 }
 #login{
   text-decoration: none;
   color: white;
   background-color: rgb(196, 71, 71);
   padding: 10px;
   border-radius: 10px;
 }

