*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 html{
  scroll-behavior: smooth;
 }
 body{
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  
    
 }
 #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex-grow: 1;
    flex-wrap: wrap;
    z-index: -1;

 }
 .list{
   display: flex;
   gap:50px;

 }
 .list{
   list-style: none;
    text-decoration: none;
 }
 #home{
    text-decoration: none;
    color: white;
 }
 #login{
   text-decoration: none;
   color: white;
   background-color: rgb(196, 71, 71);
   padding: 10px;
   border-radius: 10px;
   border: none;
 }
 .container{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   box-shadow:5px 5px 15px 10px rgba(0, 0, 0, 0.25);
   width: 300px;
   height: 300px;
   margin:50px;
   padding: 100px;
   border-radius: 20px;
   color: black;
   background-color: rgba(247, 245, 248, 0.25);
   
 }
 .input-box{
   position: relative;
   width: 250px;
 }
 input{
   width:100%;
   padding:12px;
   background-color: transparent;
   border: 2px solid rgb(71, 147, 253);
   outline: none;
   color: skyblue;
   border-radius: 8px;
 }
 label{
   position: absolute;
   left:12px;
   top:10px;
   color:skyblue;
   pointer-events: none;
   transition: 0.3s;
   /* border: white solid 1px; */
   padding: 0 5px;
   background-color:transparent;
   /* margin: 10px; */
  
 }
 input:focus+label,
 input:valid+label{
   top:-8px;
   font-size: 12px;
 }
 #btn{
   background-color: skyblue;
   color: white;
   border: none;
   padding: 10px;
   border-radius: 5px;
 }

 #btn:hover{
   background-color: rgb(73, 166, 202);
   cursor: pointer;
   background-color: orange;
   border:1px solid white;
    color: white;
    transition: 0.3s;
 }
 #login:hover{
  background-color: rgb(194, 5, 5);
 }
 .image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
 }
 .container h1{
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
 }

